*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1{
    text-align: center;
}
label,input{
    display: block;
}
label{
    color: green;
}
input{
    width: 100%;
}
.submit{
    margin: 15px auto 0 auto;
    width: 60px;
    background-color: blueviolet;
    border-radius: 5px;
    /*
    margin always applied from top , right, bottom , left
    */
}
form{
    min-width: 300px;
    max-width: 500px;
    margin:auto;
    border: 2px solid black;
    padding: 15px;
      
}